<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Class {{ class_name }}{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Uczeń - {{ student.first_name }} {{ student.last_name }}</title>
</head>
<body>
    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
        First name: {{ student.first_name }}<br>
        Last name: {{ student.last_name }}<br>
        Class: {{ class_name }}<br>
        Year of birth: {{ student.year_of_birth }}<br>
        <br><br>
        <a href='/delete_student/{{ student.id }}'><strong>Delete student</strong></a>
</body>
</html>
{% endblock %}
