<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uczeń - {{ student.first_name }} {{ student.last_name }}</title>
</head>
<body>
    <h2> {{ subject.teacher_name }} - {{ subject.name }}</h2>
    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
        Imię: {{ student.first_name }}<br>
        Nazwisko: {{ student.last_name }}<br>
        Klasa: {{ class_name }}<br>
    <h2>Oceny:</h2>
    {% for grade in grades %}
        {{ grade.grade }} <br>
    {% endfor %}
        <h2>Średnia: {{ grade_average }}</h2>
</body>
</html>